body {
  font-family: Arial;
  background-image: radial-gradient(#272727,black);
}

td#result {
  background-color: white;
}

table.noselect {
  user-select: none;
}

.top {
  background-color: #19323C;
  color:white;
}

.top:hover {
  background-color: #244856;
  cursor: pointer;
}

.right {
  background-color: #A93F55;
  color:white;
}

.right:hover {
  background-color: #C44861;
  cursor: pointer;
}

.numb {
  background-color: #8E9694;
  color:white;
}

.numb:hover {
  background-color: #a3aba9;
  cursor: pointer;
}

.input {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

table#output {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  height:120px;
  table-layout: fixed;
  width:600px;
  border-style: none;
  border-color: black;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 80px;
}

html, body {
  height: 90%
}

table#input {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height:90%;
  table-layout: fixed;
  width:600px;
  border-style: none;
  border-color: black;
  font-size: 50px;
}
